@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

/* Selector universal */
* {
    margin: 0;
    padding: 0;
}

* {
    color: red;
}

/* Esto anula y sustituye lo anterior  */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: 'IM Fell DW Pica', serif;
    font-family: 'IM Fell English SC', serif;
}


/*Tipo de textos*/
/* font family importada de google fonts */
p,
em,
strong,
li,
a {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: dimgrey;
    font-size: 16px;
}

/* font weight establece la anchura de la letra */
a {
    font-weight: bold;
    color: steelblue;
}

/* font-style establece el estilo de la letra */
em {
    font-style: italic;
}

/* font-variant */
.todomayusculas {
    font-variant: small-caps;
}

.pepe {
    color: green;
}

.alineadoderecha {
    text-align: right;
}

.alineadocentro {
    text-align: center;
}

.alineadojustificado {
    text-align: justify;
}

/* ------------------------------*/
/* Prioridades*/
/* ------------------------------*/

/* El selector de id es la almohadilla # */
/* #violeta {color: darkviolet; }
article ol li { color: blue; }
*/

#violeta {
    color: darkviolet;
}

.rosa {
    color: pink;
}

article ol li {
    color: blue;
}

li {
    color: tomato;

}

table.azul th,
table.azul td {
    border: 1px solid blue;
    color: blue;
}

table.azul th {
    background: blue;
    color: white;

}




header h1 {
    /* La propiedad height establece el alto */
    height: 50px;
    /* La propiedad padding es el relleno */
    padding: 8px;
    /* Es el color de fondo */
    background-color: gray;
}

nav {
    /* Esto es un borde de 1px, liso en color rojo */
    border: 1px solid red;


}

/* Esto establece la visibilidad en pantalla en ninguna */
nav h2 {
    display: none;
}

article {
    /* Esto establece el ancho de todos los article */
    width: 40%;
    /* Esto estable el relleno de todos los article */
    padding: 10px;
    /* Esto estable el margen de todos los article */
    /* abreviado es margin: 3% 3% 3% 3% */
    /* Equivale a: el margin top: 3% */
    /* Equivale a: el margin right: 3% */
    /* Equivale a: el margin bottom: 3% */
    /* Equivale a: el margin left: 3% */
    margin: 3%;
    /* Esto estable el borde de todos los article */
    border: 1px solid black;
}

/* Esto establece el ancho al 100% para todos los article */
/* herederos de otra article herederos de una section */
section article article {
    width: 100%;

}

/* Este código anula y sustituye el anterior */
section article {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    /* Esto es lo mismo */
    margin: 3% 0%;

}

article article p {
    background-color: lime;

}

article,
article p,
article h2 {
    /* Esto establece el color del fondo blanco para: */
    /* todos los article, todos los párrafos herederos de un article */
    /* y todos los h2 herederos de un article */
    background-color: white
}


footer {
    /* Esto establece el alto del footer en 80px*/
    height: 80px;
    /* Esto establece el alto de la línea de texto */
    /* como le ponemos el mismo que el height */
    /* centramos una línea de texto verticalmente */
    line-height: 80px;
    /* Esto establece el relleno del footer en 10px */
    padding: 10px;
    /* Esto establece que el texto del footer se alinee en el centro */
    text-align: center;
    /* Esto establece el color del fondo del footer en negro */
    background-color: black;
    /* Esto establece el color de texto del footer en blanco */
    color: white;
}

/* etiqueta es {} */
/* las class es un punto .{} */
/* las id es # {} */
